{% extends 'base.html.twig' %}
{% block title %}Hello BlogController! {% endblock %}

{% block body %}

<div class = "example-wrapper">
    <h1> Ajouter un article </h1>
    <div class="w-50 m-auto">
    {{form_start(form)}}

    {{form_end(form)}}
    </div>
    
</div>

{% endblock %}